body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  padding: 20px;
  background-color: #282c34;
  color: white;
  border-right: 2px solid white;
  position: fixed;
  margin: 0;
}

header,
h2,
h3 {
  color: lightblue;
}

nav header {
  display: flex;
  justify-content: center;
  padding: 50px;
}

nav header img {
  height: 150px;
  width: 150px;
}

nav li {
  list-style-type: none;
  padding: 10px 0;
  width: 100%;
}

nav li a {
  text-decoration-line: none;
  color: white;
  transition: 0.6s ease;
  padding: 10px;
  width: 100%;
}

nav li a:hover {
  color: lightblue;
  letter-spacing: 3px;
}

div {
  display: flex;
  flex-direction: column;
  float: right;
  right: 0;
  padding-left: 27%;
  padding-top: 50px;
  padding-right: 60px;
  background-color: #282c34;
  color: white;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
}

div section > div {
  width: 400px;
  background-color: black;
  border-radius: 20px;
  padding: 50px;
  line-height: 25px;
  margin: 0;
}

.box1 {
  background: url(images/img.jpg);
  background-position: center;
  background-size: cover;
  color: rgb(108, 35, 177);
  font-size: 20px;
  height: 90vh;
  width: 50%;
}

.box1 h1 {
  border-radius: 90px;
  margin: 0;
  width: fit-content;
  text-align: left;
  background-color: white;
}

@media (max-width: 992px) {
  nav {
    width: 20%;
    font-size: 12px;
  }

  nav header {
    padding: 20px;
  }

  nav li {
    list-style-type: none;
    padding: 6px 0;
    width: 100%;
  }

  nav header img {
    height: 100px;
    width: 100px;
  }

  nav li > a:hover {
    letter-spacing: 1px;
    color: lightblue;
  }

  section {
    font-size: 12px;
  }
}
